.table {
	display: table;
	width: 80%;
}

.row-table {
	display: table-row;
	height: 30px;
	line-height: 1.5rem;
}

.col-table {
	display: table-cell;
	border: 1px outset #3399ff;
	
}

.col-1 {
	width: 15%;
	padding-left: 10px;
}

.col-2 {
	padding-left: 10px;
	border-right: 1px solid #3399ff;
}

.field-table {
	font-family: verdana;
	font-weight: bold;
	font-size: 15px;
	color: #996600;
	background: #ccccff;
	
}